
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


  .product-page{
    display: grid;
    place-items: center;
    justify-content: space-around;
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  }
 .product-container .container-fluid {
    display: flex;
    overflow-x: auto;
    width: 2000px;
  }
p.product-container .product::before {
    content: "";
    background-image: linear-gradient( to bottom, hsla(29, 72%, 83%, 0.438), hsla(9, 94%, 61%, 0.507) );
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.product-img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.product-container {
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  display: grid;
  place-items: center;
  justify-content: space-around;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
}

.product-container .product {
  margin: 10px;
}

.product-container li{
  text-align: center;
}

.product-container p{
  color:  #fff;
  font-weight: 500;
  
}
.product-container h3{
  color:  #fff;
  font-weight: 700;
}

.product-container .product {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
}
.product-container .product::before {
  content: "";
  background-image: linear-gradient(
    to bottom,
    hsla(29, 72%, 83%, 0.438),
    hsla(9, 94%, 61%, 0.507)
  );
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.product-container .product_add_cart {
  color: var(--white-color-alt);
  font-size: 1.2rem;
  background-color: hsl(0, 2%, 9%);
  padding: 1rem 0.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms, color 300ms, box-shadow 300ms, opacity 300ms;
  color: #fff;
  opacity: 0; /* Initially set opacity to 0 */
}

.product-container .product:hover .product_add_cart {
  opacity: 1; /* Set opacity to 1 when hovering over the product */
  transform: translate(-50%, -50%) scaleY(1);
  transform-origin: top;
}

.product-container .product_add_cart:hover {
  color: var(--white-color);
  box-shadow: 0 1rem 0 -0.5rem hsl(17, 79%, 65%, 0.7),
    0 2rem 0 -1rem hsla(17, 79%, 65%, 0.65);
}
