/* Product.css */

.products{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.titlepage {
    text-align: center;
    padding-bottom: 60px;
}

.titlepage p {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    padding-top: 10px;
}

.read_more{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background: beige;
    height: 30px;
    align-items: center;
  }