/* Product.css */

.shop-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.section-3 {
    gap: 1rem;
  }
  

  .product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product {
    flex: 1 0 calc(25% - 1rem); /* 25% width with 1rem spacing */
    box-sizing: border-box;
    position: relative;
    margin-bottom: 1rem;
  }
  
  .product::before {
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 300ms;
  }
  
  .product:hover::before {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 300ms;
  }
  
  .product_add_cart {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  
  .product:hover .product_add_cart {
    transform: translate(-50%, -50%) scaleY(1);
    transform-origin: top;
  }
  